In [1]:
#Given a country, what is the probability of finding a particular species
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('species_per_country_count.csv',low_memory=False)

In [3]:
df.head()

,Species/Country,acanthophis-antarcticus,acanthophis-hawkei,acanthophis-praelongus,acanthophis-pyrrhus,acanthophis-rugosus,acanthophis-wellsi,achalinus-niger,achalinus-rufescens,acrantophis-dumerili,...,xenodon-dorbignyi,xenodon-merremii,xenodon-rabdocephalus,xenopeltis-unicolor,xenopholis-scalaris,xerotyphlops-vermicularis,zamenis-lineatus,zamenis-longissimus,zamenis-scalaris,zamenis-situla
0,afghanistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,aland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2,0,1
3,algeria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,angola,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_needed = df.iloc[:,1:]

In [13]:
df_needed

,acanthophis-antarcticus,acanthophis-hawkei,acanthophis-praelongus,acanthophis-pyrrhus,acanthophis-rugosus,acanthophis-wellsi,achalinus-niger,achalinus-rufescens,acrantophis-dumerili,acrantophis-madagascariensis,...,xenodon-dorbignyi,xenodon-merremii,xenodon-rabdocephalus,xenopeltis-unicolor,xenopholis-scalaris,xerotyphlops-vermicularis,zamenis-lineatus,zamenis-longissimus,zamenis-scalaris,zamenis-situla
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,0,0,0,0,0,0
184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
prob_from_df = np.array(df_needed.values)

In [16]:
probability_per_country=prob_from_df/prob_from_df.sum(axis=1, keepdims=True)

In [20]:
df.iloc[:,1:]=probability_per_country

In [21]:
df.head()

,Species/Country,acanthophis-antarcticus,acanthophis-hawkei,acanthophis-praelongus,acanthophis-pyrrhus,acanthophis-rugosus,acanthophis-wellsi,achalinus-niger,achalinus-rufescens,acrantophis-dumerili,...,xenodon-dorbignyi,xenodon-merremii,xenodon-rabdocephalus,xenopeltis-unicolor,xenopholis-scalaris,xerotyphlops-vermicularis,zamenis-lineatus,zamenis-longissimus,zamenis-scalaris,zamenis-situla
0,afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,aland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.023256,0.0,0.046512,0.0,0.023256
3,algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [22]:
df.to_csv('probability_of_species_per_country.csv',index=True)